.product{
	display: flex;
	flex-direction: column;
	box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
	padding: 10px;
	margin-right:10px;
	margin-left:10px; 
	margin-bottom: 5px;	
	border-radius: 10px;
	align-items: center;
	justify-content: flex-end;
	background-color: white;

}
.product__info{
	line-height:15px; 
}

.product__rating{
	display: flex;
	color: yellow;

}
.product >img{
	width: 100%;
	height: 200px;
	object-fit: contain;
	margin-bottom: 5px;
	top:0;
	
}
.product__btns >button{
	background-color: orange;
	margin-right:15px;
	margin-left: 25px;
	margin-bottom:5px;
	border-color: rgb(0.1,0,0.2);
	border-radius: 5px;
	color: white;
	padding: 5px;
	width: 80px;



}
